.card{
	max-width: 300px;
	min-width: 300px;
	max-height: 100px;
	min-height: 100px;

	display: flex;
	justify-content: center;
	text-align: center;
	align-self: center;
	align-items: flex-end;

	padding-bottom: 27px;

	color: white;
	background: linear-gradient(45deg,#2196f3,#683BB7);

	border-radius: 0.3em;

	box-shadow: 0px 3px 6px rgba(0,0,0,0.16), 0px 3px 6px rgba(0,0,0,0.23);
	transition: all 0.2s cubic-bezier(.25,.8,.25,.1);

	animation-duration: .75s;
  	animation-name: fadeInUp;
  	transform-origin: center middle;
}
.card:hover{
	box-shadow: 0px 14px 28px rgba(0,0,0,0.25), 0px 10px 10px rgba(0,0,0,0.22);
	transform: scale(1.02); 
}